@import "common";
@import "index";

$theme-color: #2aba88;

#about {
  //padding-top: px2rem(135px);
}

.about {
  padding: px2rem(50px);
  margin-top: px2rem(20px);
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  .title {
    font-size: 120%;
  }
}

.href_a{
  color: #2aba88;
  text-decoration: none;
}

.backHome{
  position: fixed;

  right: px2rem(80px);
  bottom: px2rem(120px);

  width: px2rem(100px);
  height: px2rem(100px);

  border-radius: 50%;
  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

  background-color: #2aba88;

  font-size: 14px;
  line-height: px2rem(100px);
  text-align: center;
  color: #ffffff;

}
