@import "common";
//@import "index";

$theme-color: #2aba88;

.title{
  font-size: 32px;
}

#home{
  margin-top: px2rem(90px);
}

.btn{
  width: px2rem(150px);
  height: px2rem(75px);

  outline: 0;
  border: 0;
  border-radius: px2rem(15px);

  &.btn-primary{
    background-color: $theme-color;
    color: #ffffff;
  }
}

.card{
  width: px2rem(716px);
  margin: px2rem(15px);

  background: #fff;
  height: auto;

  border-radius: px2rem(2px);

  word-wrap: break-word;


  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

  .card-title{
    width: px2rem(686px);
    height: 100%;
    padding: px2rem(15px);

    font-size: 16px;
    font-weight: bolder;

    border-bottom: 1px solid #e0e0e0;
  }

  .card-info{
    width: px2rem(686px);
    height: 100%;
    padding: px2rem(15px);
    border-bottom: 1px solid #e0e0e0;
    :last-child {
      border-bottom: 0;

    }
    .card-desc{
      font-size: 150%;
      line-height: 150%;
    }
    .card-date{
      font-size: 100%;
      line-height: 150%;
    }
    .card-from{
      font-size: 100%;
      line-height: 150%;
      color: #888888;
      margin-top: px2rem(10px);

    }
    .card-author{
      font-size: 100%;
      line-height: 120%;
      margin-top: px2rem(5px);

      color: #888888;
    }

  }

}

.random-button{
  position: fixed;

  right: px2rem(80px);
  bottom: px2rem(120px);

  width: px2rem(100px);
  height: px2rem(100px);

  border-radius: 50%;
  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

  background-color: #2aba88;

  font-size: 24px;
  line-height: px2rem(100px);
  text-align: center;
  color: #ffffff;
}

.fade-enter-active, .fade-leave-active {
  transition: all .4s
}
.fade-enter {
  opacity: 0.8;
  transform: scale(3);
}
.fade-leave-active {
  opacity: 0;
}

.upFade-enter-active, .upFade-leave-active {
  transition: all .4s
}
.upFade-enter,.upFade-leave {
  transform: translateY(px2rem(-25px));
  opacity: 0.8;
}
.upFade-leave-active {
  transform: translateY(px2rem(-85px));
  opacity: 1;
}

.up-enter-active, .up-leave-active {
  transition: all .6s
}
.up-enter, .up-leave-active {
  transform: translateX(px2rem(180px));
  opacity: 0;
}

.up-enter{
  opacity: 0;

}

.transX-enter-active, .transX-leave-active {
  transition: all .6s
}
.transX-enter, .transX-leave-active {
  transform: translateX(px2rem(460px)) rotate(90deg);

  opacity: 0;
}

.transX-enter{
  opacity: 0;

}

.transY-enter-active, .transY-leave-active {
  transition: all .6s .3s
}
.transY-enter, .transY-leave-active {
  transform: translateY(px2rem(240px)) ;

  opacity: 0;
}

.transY-enter{
  opacity: 0;
}

.toolbar{
  position: fixed;
  right: px2rem(240px);
  bottom: px2rem(140px);

  display: inline-block;
  width:  px2rem(220px);
  height: px2rem(40px);

  font-size: 13px;
  line-height: px2rem(40px);

  background: #2aba88;

  color: #fff;

  text-align: center;

  border: 0;
  border-radius: px2rem(2px);

  -webkit-appearance: none;

  box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);


}
.selectDate{
  //display: none;
}

.hidden{
  //visibility: hidden;
  height: 0;
  opacity: 0;
  width: 0;
  //display: inline-block;
}

.dateInput{
  position: fixed;
  right: px2rem(240px);
  top: px2rem(0px);
}

.icon{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.icon2{
  position: relative;
  top:px2rem(0);
}
// refresh
.ptr--ptr{
  box-shadow: 0 !important;
}

nav{
  position: fixed;
  bottom: px2rem(240px);
  right:px2rem(32px);

  width: px2rem(180px);
  //background: rgb(91, 217, 181);
  color: #ffffff;
  overflow-x: auto; overflow-y: hidden;
  padding: 0 px2rem(10px);
  -webkit-overflow-scrolling:touch;
  ::-webkit-scrollbar{
    width: 0;
  }
}

.nav{
  //width: px2rem(150px);
  //height: px2rem(40px);
  font-size: 13px;
  line-height: px2rem(40px);
  display:inline;
  white-space: nowrap;
  ::-webkit-scrollbar{
    width: 0;
  }
  .li{
    text-align: center;
    margin:px2rem(20px);
    background: #2aba88;
    box-shadow: 0 -1px 0 #e0e0e0,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

    //display: inline-block;
    //float: left;
  }
  .active{
    transition: all 0.2s;
    color: #fff;
    background: rgb(42, 212, 158);
  }
}

