@charset "UTF-8";
/*
  公用的颜色和长度等单位 minxin function等 放在这里, 每个组件的scss文件都可以引用,不会被打包进最终的css
*/
/*
  px 转换 rem
*/
/*
  根据屏幕dpr改变字体大小
*/
/*
  根据不同dpr切换不同清晰度图片 常规 2x 和 3x
*/
.table {
  width: 100%;
  max-width: 100%; }

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

th {
  font-weight: bold;
  text-align: center; }

td, th {
  display: table-cell;
  vertical-align: inherit; }

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid #ddd; }

.title {
  font-size: 32px; }

#home {
  margin-top: 1.2rem; }

.btn {
  width: 2rem;
  height: 1rem;
  outline: 0;
  border: 0;
  border-radius: 0.2rem; }
  .btn.btn-primary {
    background-color: #2aba88;
    color: #ffffff; }

.card {
  width: 9.54667rem;
  margin: 0.2rem;
  background: #fff;
  height: auto;
  border-radius: 0.02667rem;
  word-wrap: break-word;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
  .card .card-title {
    width: 9.14667rem;
    height: 100%;
    padding: 0.2rem;
    font-size: 16px;
    font-weight: bolder;
    border-bottom: 1px solid #e0e0e0; }
  .card .card-info {
    width: 9.14667rem;
    height: 100%;
    padding: 0.2rem;
    border-bottom: 1px solid #e0e0e0; }
    .card .card-info :last-child {
      border-bottom: 0; }
    .card .card-info .card-desc {
      font-size: 150%;
      line-height: 150%; }
    .card .card-info .card-date {
      font-size: 100%;
      line-height: 150%; }
    .card .card-info .card-from {
      font-size: 100%;
      line-height: 150%;
      color: #888888;
      margin-top: 0.13333rem; }
    .card .card-info .card-author {
      font-size: 100%;
      line-height: 120%;
      margin-top: 0.06667rem;
      color: #888888; }

.random-button {
  position: fixed;
  right: 1.06667rem;
  bottom: 1.6rem;
  width: 1.33333rem;
  height: 1.33333rem;
  border-radius: 50%;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: #2aba88;
  font-size: 24px;
  line-height: 1.33333rem;
  text-align: center;
  color: #ffffff; }

.fade-enter-active, .fade-leave-active {
  transition: all 0.4s; }

.fade-enter {
  opacity: 0.8;
  transform: scale(3); }

.fade-leave-active {
  opacity: 0; }

.upFade-enter-active, .upFade-leave-active {
  transition: all 0.4s; }

.upFade-enter, .upFade-leave {
  transform: translateY(-0.33333rem);
  opacity: 0.8; }

.upFade-leave-active {
  transform: translateY(-1.13333rem);
  opacity: 1; }

.up-enter-active, .up-leave-active {
  transition: all 1.2s; }

.up-enter, .up-leave-active {
  transform: rotate(360deg);
  opacity: 0; }

.up-enter {
  opacity: 0;
  transform: rotate(-120deg); }

.down-enter-active, .down-leave-active {
  transition: all 0.6s; }

.down-enter, .down-leave-active {
  transform: translateY(-0.93333rem);
  opacity: 0; }

.down-enter {
  opacity: 0;
  transform: translateY(-0.93333rem); }

.transX-enter-active, .transX-leave-active {
  transition: all 0.6s; }

.transX-enter, .transX-leave-active {
  transform: translateX(6.13333rem) rotate(90deg);
  opacity: 0; }

.transX-enter {
  opacity: 0; }

.transY-enter-active, .transY-leave-active {
  transition: all 0.6s 0.3s; }

.transY-enter, .transY-leave-active {
  transform: translateY(3.2rem);
  opacity: 0; }

.transY-enter {
  opacity: 0; }

.toolbar {
  position: fixed;
  right: 3.2rem;
  bottom: 1.86667rem;
  display: inline-block;
  width: 2.93333rem;
  height: 0.53333rem;
  font-size: 13px;
  line-height: 0.53333rem;
  background: #2aba88;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 0.02667rem;
  -webkit-appearance: none;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }

.hidden {
  height: 0;
  opacity: 0;
  width: 0; }

.dateInput {
  position: fixed;
  right: 3.2rem;
  top: 0rem; }

.icon {
  display: inline-block;
  width: 100%;
  height: 0.53333rem;
  line-height: 0.53333rem;
  vertical-align: middle;
  font-size: 18px; }

.icon2 {
  position: relative;
  top: 0rem;
  line-height: 0.53333rem;
  vertical-align: middle;
  font-size: 18px; }

.ptr--ptr {
  box-shadow: 0 !important; }

nav {
  position: fixed;
  bottom: 3.2rem;
  right: 0.42667rem;
  width: 2.4rem;
  color: #ffffff;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0.13333rem;
  -webkit-overflow-scrolling: touch; }
  nav ::-webkit-scrollbar {
    width: 0; }

.nav {
  font-size: 13px;
  line-height: 0.53333rem;
  display: inline;
  white-space: nowrap; }
  .nav ::-webkit-scrollbar {
    width: 0; }
  .nav .li {
    text-align: center;
    margin: 0.26667rem;
    background: #2aba88;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
  .nav .active {
    transition: all 0.2s;
    color: #fff;
    background: #2ad49e; }

.fuli {
  width: 100%; }

.fuli-card {
  padding: 0.13333rem 0.13333rem 0.26667rem 0.13333rem; }
  .fuli-card .fuli-img {
    margin-bottom: 0.4rem; }

.toTop-button {
  position: fixed;
  right: 1.26667rem;
  bottom: 0.46667rem;
  width: 0.93333rem;
  height: 0.93333rem;
  border-radius: 50%;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  background-color: rgba(255, 255, 255, 0.89);
  font-size: 16px;
  line-height: 0.93333rem;
  text-align: center;
  color: rgba(18, 18, 18, 0.99); }

/*# sourceMappingURL=home.css.map */
